@import "../../../../Inicialized/variables.scss";

@media screen and (max-width: 767px) {

    .curso{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-auto-rows: min-content;
        gap: 8px;
        border-radius: 14px;
        align-items: center;
        background-color: #fff;
        margin-bottom: 12px;
        position: relative;
        overflow: hidden;
        border: 1px solid $gray1;
        padding: 10px 12px;
    
    }
.curso .idCurso{
    align-self: flex-start;
    font-size: 3vw;
    padding: 6px 10px;
    border-radius: 10px;
}


.curso .nombre{
    flex: 1;
    font-size: 3.5vw;
    height: fit-content;
    grid-column: 1 / -1;
}



.curso>.codMat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    font-size: 3vw;
}

.codMat .estado{
    margin-right: 1vw;
    display: contents;
}

.codMat>.codigo{
    margin-right: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.btnaccion{
    display: flex;
    height: 100%;
    position: absolute;
    right: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

}
