@import "../../../../Inicialized/variables.scss";

.curso{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 12px;
    border-radius: 12px;
    align-items: center;
    background-color: #fff;
    border: 1px solid $gray1;
    padding: 10px 14px;
    margin-bottom: 10px;

}

.Creado{
    background-color: $third !important;
}

.Matriculas{
    background-color: $matriculas !important;
    color: #fff !important;
}

.Cursando{
    background-color: $cursando !important;
}

.Finalizado{
    background-color: $primary !important;
}


.curso .idCurso{
    background-color: $primary;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    padding: 6px 10px;
    color: #000;
    font-weight: 600;
}

.curso .nombre{
    flex: 1;
    height: fit-content;
    color: $gray2;
    font-weight: 600;
    line-height: 1.3;
}

.curso>.codMat{
    display: flex;
    align-items: center;
    gap: 8px;

}

.codMat .estado{
    margin-right: 0;
    padding: 4px 8px;
    border-radius: 8px;
    background: $gray0;
    font-size: 0.9em;
}

.codMat>.codigo{
    margin-right: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.codigo>.icon{
    margin-right: 0.5vw;
    color: $gray2;
    cursor: pointer;
}
